* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    align-items: center;
}

a{
    text-decoration: none;
    color:black;
    font-size: 1.3rem;
    margin-right: 25px;
    font-size: 1.5rem;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    display: flex;
}
.titulo{
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    display:flex;
    justify-content: center;

}
.menu {
    background-color: #b66878;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.logo{
    width: 100px;
    margin-left: 30px;
}

td,
th {
    padding: .7em;
    margin: 0;
    border:1px solid #ccc;
    text-align: center;
}

th{
    background-color: #eee;
}

td {
    font-weight: bold;
    background-color: #eee;
}

.tab {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    display:flex;
    justify-content: center;
}

@media screen and (max-width:599px) {
    .menu {
        visibility: hidden;
    }
}